th, td {
	border: solid 1px #AAA;
	padding: 8px 3px;
}

td {
	font-family: sans-serif;
	font-size: 85%;
	text-align: center;
}

.analysis-table {
	border-collapse: collapse;
	width: 100%;
}

.analysis-table th {
	background: #F2F2F2;	
}

.supported {
	font-size: 11pt;
	height: 47px;
}

.supported .yes {
	background: #99FF99;
	text-transform: capitalize;
}

.supported .no {
	background: #FF9999;
	text-transform: capitalize;
}

.chart-type th {
	text-decoration: underline;
}

.license-type {
	width: 100px;
}

.sample {
	background: white;
	border: solid 1px #AAA;
	border-radius: 10px;
	display: none;
	left: 0;
	padding: 10px;
	position: absolute;
	top: 0;
}

.sample img {
	left: 0;
	position: relative;
	top: 0;
}