th, td {
	border: solid 1px #AAA;
	padding: 8px 3px;
}

th {
	background: #F2F2F2;
	font-size: 11pt;
}

td {
	font-family: sans-serif;
	font-size: 10pt;
	text-align: center;
}

.analysis-table {
	border-collapse: collapse;
	width: 100%;
}

.analysis-table .framework {
	width: 92px;
}

.supported {
	height: 47px;
}

.supported .yes {
	background: #99FF99;
	text-transform: capitalize;
}

.supported .no {
	background: #FF9999;
	text-transform: capitalize;
}

.chart-type th {
	text-decoration: underline;
}

.license-type {
	width: 80px;
}

.based-on {
	width: 60px;
}

.sample {
	background: white;
	border: solid 1px #AAA;
	border-radius: 10px;
	display: none;
	left: 0;
	padding: 10px;
	position: absolute;
	top: 0;
}

.sample img {
	left: 0;
	position: relative;
	top: 0;
}

.popular-chart-top {
	border-top: solid 3px #2697CA;
}

.popular-chart-right {
	border-right: solid 3px #2697CA;
}

.popular-chart-bottom {
	border-bottom: solid 3px #2697CA;
}

.popular-chart-left {
	border-left: solid 3px #2697CA;
}

.obsolete-table {
	border-collapse: collapse;
	margin-top: 30px;
	width: 60%;
}

.obsolete-table .framework {
	width: 130px;
}

 .unsuitable-reason {
 	text-align: left;
 }

 .hot-spot {
 	color: #DC3912;
 	font-weight: bold;
 }